<div style="display:flex;height:750px;justify-content: center;align-items: center;">
  <div class="mycalc">
    <input [(ngModel)]="toshow" type="text">
    <div class="all-btn">
      <div class="all-btn-numbers">
          <button (click)="onclickinput('1')">1</button>
          <button (click)="onclickinput('2')">2</button>
          <button (click)="onclickinput('3')">3</button>
          <button (click)="onclickinput('4')">4</button>
          <button (click)="onclickinput('5')">5</button>
          <button (click)="onclickinput('6')">6</button>
          <button (click)="onclickinput('7')">7</button>
          <button (click)="onclickinput('8')">8</button>
          <button (click)="onclickinput('9')">9</button>
          <button (click)="onclickinput('0')">0</button>
          
        <div class="btn-extra">
            <button (click)="onclickinput('.')">.</button>
            <button (click)="back()">back</button>
        </div>
      
      </div>
      
      <div class="all-btn-signs">
        <button (click)="onclickinput('+')">+</button>
        <button (click)="onclickinput('-')">-</button>
        <button (click)="onclickinput('*')">*</button>
        <button (click)="onclickinput('/')">/</button>
      </div>
    </div>
  
    <div class="btn-clear-equals">
        <button id="clear" (click)="clear()">C</button>
        <button id="equals" (click)="equals()">=</button>
    </div>
  
  
  </div>
</div>